[user]
	name = Baptiste MORIN
	email = 1932256+morinb@users.noreply.github.com
[alias]
	co = checkout
	st = status
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --decorate
	incoming = "!git log ..origin/"$(git branch --show-current)""
	outgoing = "!git log origin/"$(git branch --show-current)".."
	aliases = config --get-regexp alias
[color]
	ui = true
    editor = nvim
[core]
	autocrlf = input
    pager = less -F -X
[init]
	defaultBranch = main
[credential]
    helper = store
